@import "global.css";

.title--sr-only {
  position: absolute;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip-path: inset(50%);
  white-space: nowrap;
}

.testimonials__grid {
  max-width: 80vw;
  margin: 5rem 0;
  display: grid;
  gap: 2rem;
}
.quotation-img {
  position: absolute;
  top: 0;
  right: 1.3rem;
  height: 115px;
  z-index: ;
}
.testimonials__item {
  border-radius: 10px;
  padding: 2rem;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.testimonials__item:nth-child(1) {
  background-color: var(--violet);
}
.testimonials__item:nth-child(1) .testimonials__profil-img {
  --border-color: rgba(255, 255, 255, 0.5);
}
.testimonials__item:nth-child(2) {
  background-color: var(--dark-grayish-blue);
}
.testimonials__item:nth-child(3),
.testimonials__item:nth-child(5) {
  background-color: var(--white);
  color: var(--dark-grayish-blue);
  box-shadow: 32px 34px 82px -26px rgba(72, 85, 106, 0.28);
}
.testimonials__item:nth-child(4) {
  background-color: var(--dark-blackish-blue);
  color: var(--light-gray);
}
.testimonials__item:nth-child(4) .testimonials__profil-img {
  --border-color: var(--violet);
}

.testimonials__profil-img {
  border: 2px solid var(--border-color);
  border-radius: 50%;
  width: 4ch;
}
.testimonials__profil-name {
  font-size: 0.95rem;
  display: inline-block;
  margin-left: 2ch;
}
.testimonials__profil-name-status {
  font-size: 0.813rem;
  display: block;
  opacity: 50%;
}
.testimonials__item-title,
.testimonials__profil {
  position: relative;
  z-index: 1;
}
.testimonials__item-title {
  font-size: 1.36rem;
  margin: 1rem 0;
}
.testimonials__item-quote {
  font-size: 0.813rem;
  line-height: 1.5;
  opacity: 70%;
}

@media (min-width: 37.5em) {
  .testimonials__grid {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, auto);
  }
  .testimonials__item:nth-child(1) {
    grid-row-end: span 2;
  }
}
@media (min-width: 75em) {
  .testimonials__grid {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto auto;
    row-gap: 1.5rem;
  }
  .testimonials__item:nth-child(1) {
    grid-column-end: span 2;
    grid-row-end: span 1;
  }
  .testimonials__item:nth-child(2) {
    grid-column-start: 3;
  }
  .testimonials__item:nth-child(3) {
    grid-row-start: 2;
  }
  .testimonials__item:nth-child(4) {
    grid-column-start: 2;
    grid-column-end: span 2;
  }
  .testimonials__item:nth-child(5) {
    grid-row-start: 1;
    grid-column-start: 4;
    grid-row-end: span 2;
  }
  .quotation-img {
    right: 5rem;
  }
}
