/* barlow-semi-condensed-500 - latin */
@font-face {
  font-display: swap;
  font-family: "Barlow Semi Condensed";
  font-style: normal;
  font-weight: 500;
  src: url("/assets/fonts/barlow-semi-condensed-v15-latin-500.woff2")
    format("woff2");
}
/* barlow-semi-condensed-600 - latin */
@font-face {
  font-display: swap;
  font-family: "Barlow Semi Condensed";
  font-style: normal;
  font-weight: 600;
  src: url("/assets/fonts/barlow-semi-condensed-v15-latin-600.woff2")
    format("woff2");
}

html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}
:root {
  --font-grayish-blue: hsl(217, 19%, 35%);
  --bg-blackish-blue: hsl(219, 29%, 14%);
  --violet: hsl(263, 55%, 52%);
  --light-gray: hsl(0, 0%, 81%);
  --bg-grayish-blue: hsl(210, 46%, 95%);
  --white: hsl(0, 0%, 100%);
  --padding-item: 2rem;
}
body {
  font-family: "Barlow Semi Condensed", sans-serif;
  color: var(--font-grayish-blue);
}
main {
  background-color: var(--bg-grayish-blue);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.title--sr-only {
  position: absolute;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip-path: inset(50%);
  white-space: nowrap;
}
.testimonials {
  width: 85vw;
  margin: 5rem 0;
}
.testimonials__grid {
  display: grid;
  gap: 2rem;
  list-style: none;
}

/* Used flexbox to put the item-content 
in logical order for screenreaders. 
Users should first read headline, text and in the end the image*/
.testimonials__item {
  border: 1px solid black;
  border-radius: 10px;
  padding: var(--padding-item);
  display: flex;
  flex-direction: column;
  position: relative;
}
.quotation {
  position: absolute;
  top: 0;
  right: var(--padding-item);
}
.testimonials__profil {
  order: -1;
}
.testimonials__profil-name {
  display: inline-block;
}
.testimonials__profil-img {
  border-radius: 50%;
}
.testimonials__profil-name-status {
  display: block;
}
