/* barlow-semi-condensed-500 - latin */
@font-face {
  font-display: swap;
  font-family: "Barlow Semi Condensed";
  font-style: normal;
  font-weight: 500;
  src: url("/assets/fonts/barlow-semi-condensed-v15-latin-500.woff2")
    format("woff2");
}
/* barlow-semi-condensed-600 - latin */
@font-face {
  font-display: swap;
  font-family: "Barlow Semi Condensed";
  font-style: normal;
  font-weight: 600;
  src: url("/assets/fonts/barlow-semi-condensed-v15-latin-600.woff2")
    format("woff2");
}

html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}
:root {
  --font-grayish-blue: hsl(217, 19%, 35%);
  --bg-blackish-blue: hsl(219, 29%, 14%);
  --violet: hsl(263, 55%, 52%);
  --light-gray: hsl(0, 0%, 81%);
  --bg-grayish-blue: hsl(210, 46%, 95%);
  --white: hsl(0, 0%, 100%);
}
body {
  font-family: "Barlow Semi Condensed", sans-serif;
  font-weight: 500;
  color: var(--white);
}
main {
  background-color: var(--bg-grayish-blue);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.title--sr-only {
  position: absolute;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip-path: inset(50%);
  white-space: nowrap;
}
.testimonials {
  width: 85vw;
  margin: 5rem 0;
}
.testimonials__grid {
  display: grid;
  gap: 2rem;
  list-style: none;
}
.quotation {
  position: absolute;
  top: 0;
  right: 1.3rem;
  height: 115px;
}

/* headline first for screenreader-users, 
using flexbox to creat logical order*/
.testimonials__item {
  border-radius: 10px;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  position: relative;
}
.testimonials__item:nth-child(1) {
  background-color: var(--violet);
}
.testimonials__item:nth-child(1) .testimonials__profil-img {
  --border-color: rgba(255, 255, 255, 0.5);
}
.testimonials__item:nth-child(2) {
  background-color: var(--font-grayish-blue);
}
.testimonials__item:nth-child(3),
.testimonials__item:nth-child(5) {
  background-color: var(--white);
  color: var(--bg-blackish-blue);
}
.testimonials__item:nth-child(4) {
  background-color: var(--bg-blackish-blue);
}
.testimonials__item:nth-child(4) .testimonials__profil-img {
  --border-color: var(--violet);
}

.testimonials__profil {
  order: -1;
  display: flex;
  align-items: center;
}
.testimonials__profil-img {
  border: 2px solid var(--border-color);
  border-radius: 50%;
  width: 4ch;
}
.testimonials__profil-name {
  display: inline-block;
  /* font-weight: 600; */
  margin-left: 2ch;
}
.testimonials__profil-name-status {
  display: block;
  font-size: 0.813rem;
  opacity: 50%;
}
.testimonials__item-title {
  font-size: 1.36rem;
  margin: 1rem 0;
  z-index: 1;
}
.testimonials__item-quote {
  font-size: 0.813rem;
  line-height: 1.5;
  opacity: 70%;
}
